.body h1{
    /* background-color: rgba(0, 0, 0, 0.509); */
    color: red;
    margin:0;
    padding: 10px;
}
.body {
    height: 100vh; /* Use 100vh for full viewport height */
    background-image: url("./img/signup img.jpg"); /* Correct the path and handle spaces */
    background-repeat: no-repeat;
    background-size: cover;
}
    .form-signin {
    max-width: 360px;
    padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: 15px;
    width: 310px;
    background-color: rgb(48, 46, 46);
    border: none;
    }

    .form-signin input[type="password"] {
    margin-bottom: 25px;
    background-color: rgb(48, 46, 46);
    border: none;
    }
    .signup{
        background-color: rgba(0, 0, 0, 0.661);
        padding:35px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.631);
        margin-top: 90px;
    }